/**
 *  Imports
 */

@import "imports/app/app";
@import 'imports/app/sass/base/variables';
@font-face {
	font-family: 'SouvenirStd-Bold';
	src: url('/fonts/SouvenirStd-Bold.woff') format('woff'),
		url('/fonts/SouvenirStd-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SouvenirStd-Medium';
	src: url('/fonts/SouvenirStd-Medium.woff') format('woff'),
		url('/fonts/SouvenirStd-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Spoqa Han Sans Regular';
	src: url('/fonts/Spoqa Han Sans Regular.woff') format('woff'),
		url('/fonts/Spoqa Han Sans Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Spoqa Han Sans Thin';
	src: url('/fonts/Spoqa Han Sans Thin.woff') format('woff'),
		url('/fonts/Spoqa Han Sans Thin.ttf') format('truetype');
}

$color_royal_purple_approx: rebeccapurple;
$color_azure_approx: #369;
$color_tundora_approx: #444;
$color_suva_gray_approx: #888;

$font_0: SouvenirStd-Bold;
$font_1: SouvenirStd-Medium;
$font_2: Spoqa Han Sans Regular;
$font_safe_0: Arial;
$font_safe_1: Helvetica;
$font_safe_2: sans-serif;
$font_safe_3: Cambria;
$font_safe_4: Georgia;

/**
 *  App Global Sass
 */
* {
	::selection {
		background: $melon; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
		background: $melon; /* Gecko Browsers */
	}
}

body, html {
	font-size: 18px;
}
body {
	margin: 0;
	font-family: $font_2, $font_safe_4;
	color: $charcoal;
	h2 {
		font-size: 4.5rem;
	}
	h3 {
		font-size: 3.5rem;
	}
}
a {
	color: white;
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
    opacity: 0;
    transition: opacity 3s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // background: #000;
    z-index: 999;
	background: url("/fish-dance.gif") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	&.loading_end {
		z-index: -1;
	}
}
/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */
my-app:empty + .loading {
    opacity: 1;
    z-index: 100;
}

@import "imports/app/app-responsive";
