<div *ngIf="isLastScene" class="canvases_navigate">
	<div class="canvases_navigate_buttons">
		<button md-button (click)="younger_from_current_word()">Younger Post</button>
		<button md-button (click)="older_from_current_word()">Older Post</button>
	</div>
</div>
<div *ngIf="isTitleScene" class="canvases_navigate">
	<div class="canvases_navigate_buttons">
		<button md-button (click)="openWordListDialog()">Word List</button>
		<button md-button (click)="get_recent_word()">Recent Word</button>
	</div>
</div>
<div *ngFor="let slide of current_word; let i=index" class="slide" [innerHTML]="slide.text | safeHtml">Title</div>}