@import 'sass/base/variables';

/**
 *	iphone 5
 */
@media screen and (max-width: 330px) {
	.myhome {
		font-size: 1.52em;
		.hello {
			color: $melon-light;
			h2 {
			}
		}
	}
}

/**
 *	Smart Phones
 */
@media screen and (max-width: 500px) {
	body #fp-nav {
		top: 10.7%;
	}
}

/**
 *	Tablets
 */
@media screen and (max-width: 1025px) {
	.myhome-descriptions {
		display: none !important;
	}
}