@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/**
 *  App Global Sass
 */
.admin-bar {
	position: absolute;
	z-index: 99;
	background: grey;

	color: white
}
.data-uri {
  /* NO WHITESPACE in </tag><tag> */
  background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="245.6px" height="191.1px" viewBox="0 0 245.6 191.1" enable-background="new 0 0 245.6 191.1" xml:space="preserve"> <path id="XMLID_19_" fill="#35F0B2" d="M39.2,21.4C71.3-1.4,128-12,167.9,20.6c22.2,18.2,74.9,74.4,72.2,77.1c0,0,15.7,27.5-6,30.5 c-32.5,4.5-25.5,30-51,49.9c-6.7,5.2-20.1,8.3-37.5,9.1c-3.3,0.2-7.3,4.3-17.4,3.8c-10.1-0.5-12.7-4.3-14.6-4.5 c-6.4-0.7-20.2,4.5-39.1,0.5s-24.5-10.5-27-10.9C-32.5,164.5,5.4,45.4,39.2,21.4z"/> </svg>');
  width: 245.6px;
  height: 191.1px;
}

/**
 *	Home
 */
.myhome {
	border: solid 1px #b6b6b6;
	box-sizing: content-box !important;
	text-align: center;
	background: lightblue;
	height: 100vh;
	div.title {
		max-height: 25% !important;
	}
}
.myhome-contents {
	height: 100vh;
	padding: 0 30px;
}
ul {
	list-style-type: none;
}
.myhome {
	h3, h2	{
		padding: 0 10px;
	}
}

/**
 *	General Page Object Align
 */
.general-page-sample {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}
.general-page-scene {
	position: absolute;
	left: 50%;
	top: 6.625rem;
	margin-left: -11.75rem;
	border: 1px solid redr;
	width: 100%;
	height: 100%;
}
.general-page {
	position: absolute;
	z-index: 2;
	top: -20.625rem;
	left: 6.125rem;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}

/**
 *	First Page - re
 */
.gem__body-base {
	/*top: 1px;
	left: 2px;*/
	position: absolute;
	width: 237.7px;
	height: 185.8px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="237.7px" height="185.8px" viewBox="0 0 237.7 185.8" enable-background="new 0 0 237.7 185.8" xml:space="preserve"> <rect id="XMLID_134_" x="-298.2" y="620.2" fill="#F5F4FA" stroke="#231F20" stroke-miterlimit="10" width="789.8" height="568.7"/> <path id="XMLID_19_" fill="#35F0B2" d="M37.9,20.8c31-22.2,86-32.5,124.6-0.7c21.5,17.7,72.5,72.3,69.9,75c0,0,15.2,26.7-5.8,29.6 c-31.5,4.4-24.7,29.2-49.4,48.5c-6.5,5.1-19.4,8-36.3,8.9c-3.2,0.2-7.1,4.2-16.8,3.7s-12.3-4.1-14.1-4.3c-6.2-0.7-19.5,4.3-37.9,0.5 c-18.3-3.8-23.7-10.2-26.1-10.6C-31.4,160,5.2,44.1,37.9,20.8z"/> </svg>');
}
.gem__eye-left {
	top: 74px;
	left: 42px;
	position: absolute;
	width: 6.1px;
	height: 6.1px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.1px" height="6.1px" viewBox="0 0 6.1 6.1" enable-background="new 0 0 6.1 6.1" xml:space="preserve"> <circle id="XMLID_18_" fill="#162148" cx="3.1" cy="3.1" r="3.1"/> </svg>');
}
.gem__eye-right {
	top: 74px;
	left: 102px;
	position: absolute;
	width: 6.1px;
	height: 6.1px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.1px" height="6.1px" viewBox="0 0 6.1 6.1" enable-background="new 0 0 6.1 6.1" xml:space="preserve"> <circle id="XMLID_18_" fill="#162148" cx="3.1" cy="3.1" r="3.1"/> </svg>');
}
.gem__mouth {
	top: 116px;
	left: 52px;
	position: absolute;
	width: 44.9px;
	height: 18.9px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44.9px" height="18.9px" viewBox="0 0 44.9 18.9" enable-background="new 0 0 44.9 18.9" xml:space="preserve"> <path id="XMLID_20_" fill="#162148" d="M0,0c0,0.3,4.5,6,5.9,8.5s2.7,11.3,15,10.3c12.9-1,23.6-7.2,24-10.4S41.8,0,41.8,0 s-1.4,4.2-12.5,4.2c-8.4,0-16.9-0.4-23.5-2.1C3.6,1.6,1.7,0.9,0,0"/> </svg>');
}
.gem__cup-base {
	top: 93px;
	left: -30px;
	position: absolute;
	width: 62.5px;
	height: 43.5px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62.5px" height="43.5px" viewBox="0 0 62.5 43.5" enable-background="new 0 0 62.5 43.5" xml:space="preserve"> <path id="XMLID_522_" fill="#FFFFFF" d="M49.5,0h-23c-6.7,0-12.3,5.2-12.9,11.7c-0.4,0-0.9-0.1-1.3-0.1C5.5,11.7,0,17.1,0,23.9 s5.5,12.2,12.2,12.2c1.8,0,3.5-0.4,5.1-1.1c1.9,4.9,6.6,8.5,12.2,8.5h17c7.2,0,13-5.9,13-13l3-17.4c0-0.1,0-0.1,0-0.2 C62.4,5.8,56.6,0,49.5,0z M4.7,23.9c0-4.1,3.4-7.5,7.5-7.5c0.6,0,1.3,0.1,1.8,0.2l2.3,13.5c-1.2,0.8-2.6,1.3-4.2,1.3 C8.1,31.4,4.7,28,4.7,23.9z"/> </svg>');
	z-index: 1;
}
.gem__cup-smoke {
	top: 74px;
	left: -11px;
	position: absolute;
	width: 34.6px;
	height: 18.8px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34.6px" height="18.8px" viewBox="0 0 34.6 18.8" enable-background="new 0 0 34.6 18.8" xml:space="preserve"> <path id="XMLID_53_" fill="#3B86F2" d="M31.6,0H11.9c-1.6,0-3,1-3,2.3v2.1V6c0,1.1-1.2,2-2.6,2H3c-1.6,0-3,1-3,2.3v1.1 c0,1.3,1.4,2.3,3,2.3h5.9h0c0.3,0,0.6,0.1,0.9,0.2c1.2,0.6,1.5,2,0.7,3.1l-1.3,1.8H28c1.6,0,3.1-1.1,3.1-2.4v-1.1 c0-1.3-1.4-2.3-3-2.3h-4h0c-1.3,0-2.3-0.8-2.3-1.7V8.9c0-1.2,1.3-2.2,2.9-2.2h6.9c1.7,0,3-1,3-2.3V2.3C34.6,1,33.3,0,31.6,0z"/> </svg>');
}
.gem__leg-left {
	top: 164px;
	left: 51px;
	position: absolute;
	width: 38.1px;
	height: 29.6px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38.1px" height="29.6px" viewBox="0 0 38.1 29.6" enable-background="new 0 0 38.1 29.6" xml:space="preserve"> <path id="XMLID_469_" fill="#35F0B2" d="M38.1,0H0v8.2c0.4,0.1,0.7,0.1,1.1,0.2c2.4,0.4,4.5,5.6,5.1,7.2c0.6,1.6,0.8,5.1,2.3,7.7 c0.5,0.8,1.5,1.8,1.8,2.7c0.2,0.6-1,1.4-0.5,1.8c0.6,0.5,2,1.1,3.6,1.4s7.1,0.9,9.8-1.1c1.6-1.1,3.2-4.4,4.8-7.3 c0.9-1.6,6.9-5.2,8.5-5.7c0.3-0.1,0.9-0.1,1.7-0.1V0z"/> </svg>');
}
.gem__leg-right {
	top: 163px;
	left: 109px;
	position: absolute;
	width: 32.2px;
	height: 30.4px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.2px" height="30.4px" viewBox="0 0 32.2 30.4" enable-background="new 0 0 32.2 30.4" xml:space="preserve"> <path id="XMLID_468_" fill="#35F0B2" d="M32.2,0H0v18.4c0.3,0,0.6,0.1,0.9,0.1c1.8,0.2,3.5,0.3,4.5,1.8c0.9,1.5,1.2,2.9,1.8,3.7 c0.8,1.3,2.1,2,2.7,3.3c0.1,0.3-1.2,1-1,1.2c2.7,3.5,9.6,1.3,13.9,0.2c1-0.3,2.1-0.6,2.7-1.5c0.5-0.8,0.5-0.7,0.5-1.7l0-1.4 c0-3.2,2.5-4.9,5.8-5.1c0.1,0,0.3,0,0.4,0V0z"/> </svg>');
}
.bottom__chair {
	top: 173px;
	left: 29px;
	z-index: -1;
	position: absolute;
	width: 163.6px;
	height: 163.8px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="163.6px" height="163.8px" viewBox="0 0 163.6 163.8" enable-background="new 0 0 163.6 163.8" xml:space="preserve"> <rect id="XMLID_134_" x="-322" y="448.3" fill="#F5F4FA" stroke="#231F20" stroke-miterlimit="10" width="789.8" height="568.7"/> <path id="XMLID_13_" fill="#007E96" d="M39,10.2L39,10.2c0-5.5,4.5-10,10-10L146,0c5.5,0,10,4.5,10,10v0c0,5.5-4.5,10-10,10l-97,0.1 C43.5,20.1,39,15.7,39,10.2z"/> <path id="XMLID_11_" fill="#024D5D" d="M163.5,153.8L146.9,27.2c-0.6-4.5-4.4-7.9-8.9-7.9h-25.5h-30H57c-4.5,0-8.3,3.4-8.9,7.9 L31.5,153.8c-0.6,5,3,9.5,8,10l0,0c4.8,0.5,9.2-3,9.8-7.8L63.9,47.6c0.6-4.5,4.4-7.8,8.9-7.8h9.7h30h9.7c4.5,0,8.3,3.4,8.9,7.8 L145.7,156c0.6,4.8,4.9,8.3,9.8,7.8l0,0C160.5,163.3,164.1,158.8,163.5,153.8z"/> <path id="XMLID_32_" fill="#009BBB" d="M7.6,10.2L7.6,10.2c0-5.5,4.5-10,10-10l97-0.1c5.5,0,10,4.5,10,10v0c0,5.5-4.5,10-10,10 l-97,0.1C12.1,20.1,7.6,15.7,7.6,10.2z"/> <path id="XMLID_37_" fill="#01687A" d="M132.1,153.8L115.5,27.2c-0.6-4.5-4.4-7.9-8.9-7.9H81.1h-30H25.6c-4.5,0-8.3,3.4-8.9,7.9 L0.1,153.8c-0.6,5,3,9.5,8,10l0,0c4.8,0.5,9.2-3,9.8-7.8L32.5,47.6c0.6-4.5,4.4-7.8,8.9-7.8h9.7h30h9.7c4.5,0,8.3,3.4,8.9,7.8 L114.3,156c0.6,4.8,4.9,8.3,9.8,7.8l0,0C129.1,163.3,132.7,158.8,132.1,153.8z"/> </svg>');
}
.character {
/*	color: white;
	font-size: 26px;
	position: absolute;
	left:0;
	top: 0;
	bottom: 0;
	right:0;
	text-align: center;
	line-height: 1;
	font-family: Oswald, monospace;*/
}
.bottom__text {
	color: #FFFF00;
	margin-top: 230px;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
	font-size: 26px;
	font-weight: bold;
	width: 200px;
	top: 163px;
	left: 109px;
	position: absolute;
}
