@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/**
 *  App Global Sass
 */
.admin-bar {
	position: absolute;
	z-index: 99;
	background: grey;

	color: white
}
.data-uri {
  /* NO WHITESPACE in </tag><tag> */
  background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="245.6px" height="191.1px" viewBox="0 0 245.6 191.1" enable-background="new 0 0 245.6 191.1" xml:space="preserve"> <path id="XMLID_19_" fill="#35F0B2" d="M39.2,21.4C71.3-1.4,128-12,167.9,20.6c22.2,18.2,74.9,74.4,72.2,77.1c0,0,15.7,27.5-6,30.5 c-32.5,4.5-25.5,30-51,49.9c-6.7,5.2-20.1,8.3-37.5,9.1c-3.3,0.2-7.3,4.3-17.4,3.8c-10.1-0.5-12.7-4.3-14.6-4.5 c-6.4-0.7-20.2,4.5-39.1,0.5s-24.5-10.5-27-10.9C-32.5,164.5,5.4,45.4,39.2,21.4z"/> </svg>');
  width: 245.6px;
  height: 191.1px;
}

/**
 *	Home
 */
.myhome {
	border: solid 1px #b6b6b6;
	box-sizing: content-box !important;
	text-align: center;
	background: lightblue;
	height: 100vh;
	div.title {
		max-height: 25% !important;
	}
}
.myhome-contents {
	height: 100vh;
	padding: 0 30px;
}
ul {
	list-style-type: none;
}
.myhome {
	h3, h2	{
		padding: 0 10px;
	}
}

/**
 *	General Page Object Align
 */
.general-page-sample {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}
.general-page-scene {
	position: absolute;
	left: 50%;
	top: 6.625rem;
	margin-left: -11.75rem;
	border: 1px solid redr;
	width: 100%;
	height: 100%;
}
.general-page {
	position: absolute;
	z-index: 2;
	top: -20.625rem;
	left: 6.125rem;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}
