@import 'sass/base/variables';

/**
 *	Soft Full Screen
 */
body { height: 100vh; padding: 0; margin: 0; }
div.content { height: 100%; }
div.spacer { height: 74px; background: $charcoal; }

/**
 *	Loading Effects
 */
/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading-screen-1 {
	opacity: 0;
	transition: opacity 2100ms ease-in-out;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: url("/fish-dance.gif") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h1 {
		color: $melon-light;
		margin: 0;
		text-align: center;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	&.loading_end {
		z-index: -1;
	}
}
/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */
my-app:empty + .loading-screen-1 {
	opacity: 1;
	z-index: 100;
}
.loading-screen-2 {
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: $charcoal;
	h1 {
		color: $hot-pink;
		font-size: 4.5rem;
		margin: 0;
		text-align: center;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	&.loading {
		opacity: 1;
		z-index: 3;
		&.loading_end {
			transition: opacity 500ms ease-in-out;
			opacity: 0;
			&.loading-screen-2-hide {
				z-index: -1;
			}
		}
	}
}
.loading_inner_data #fullpage {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-right: 17px;
}
#slider-dashboard-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #EDA89C;
}

/**
 *	General Page Objects Align
 */
.general-page-sample {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.general-page-scene {
	position: absolute;
	left: 50%;
	top: 6.625rem;
	margin-left: -11.75rem;
	width: 100%;
	height: 100%;
}
.general-page {
	position: absolute;
	z-index: 2;
	top: -20.625rem;
	left: 6.125rem;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}
body {
	#fp-nav {
		top: 6.2%;
		opacity: 0.75;
		&.right {
			right: 0;
		}
		ul li a span {
			background: $charcoal;
		}
	}
	.fp-slidesNav ul li a span {
		opacity: 0.6;
	}
	background: url("/fish-dance.gif") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**
 *	Home
 */
.myhome {
	box-sizing: content-box !important;
	text-align: center;
	background: $charcoal;
	height: 100vh;
	color: $pastel_pink;
	font-size: 3.3rem;
	.hello {
		color: $melon-light;
		width: 100%;
		margin: 0 9%;
		span {
			font-family: SouvenirStd-Bold, Spoqa Han Sans Thin;
			font-weight: 100;
			text-align: left;
			line-height: 4.75rem;
			letter-spacing: 0.14rem;
			span {
				font-family: Spoqa Han Sans Thin;
				font-size: 2.67rem
			}
		}
	}
	.user {
		font-size: 0.3em;
	}
	.myhome-descriptions {
		margin-left: 13%;
		span {
			font-weight: 400;
			font-family: Spoqa Han Sans Thin;
		}
	}
	button {
		font-family: Spoqa Han Sans Thin;
		font-size: 5.28rem;
		line-height: 5.28rem;
		font-weight: bold;
		color: #3d88ae;
	}
	&.strip_background {
		background: none;
	}
	.mat-select-trigger {
		font-size: 1.6rem;
		height: 3rem;
		min-width: 11.2rem;
	}
}
body .mat-option {
	font-size: 1.6rem;
	line-height: 4.8rem;
	height: 4.8rem;
	padding: 0 1.6rem;
}
.myhome-contents {
	height: 100vh;
}
ul {
	list-style-type: none;
}
.home_buttons {
	position: absolute;
	width: 91%;
	bottom: 4%;
	left: 9%;
	text-align: left;
}

/**
 *	Admin, Simple Login
 */
.is_admin_components, .is_login_components, .is_register_components {
	.loading-screen-1, .loading-screen-2 {
		display: none;
	}
	background: $charcoal;
}
login-form, my-admin {
	color: white;
}
login-form {
	.container {
		width: 100%;
		height: 100%;
		.panel-body {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.row {
				width: 300px;
				margin: 0 auto;
			}
		}
	}
}
dialog-show-file-list {
	a {
		color: $charcoal;
	}
}
.admin-bar {
	position: absolute;
	z-index: 3;
	color: white;
	margin: 10px;
}
.admin_page_holder {
	.admin_page_top_bar {
		position: fixed;
		z-index: 5;
		margin: 10px;
		top: 0px;
	}
	.page {
		margin-top: 100px;
		width: 86%;
		.content_list {
			z-index: 6;
		}
	}
	.admin_file_uploader_button {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 20%;
		z-index: 5;
		text-align: right;
		opacity: 0.8;
		a {
			margin: 35px;
		}
	}
}
div.fr-toolbar.fr-desktop.fr-top.fr-basic.fr-sticky {
	top: 50px;
}

/**
 *	Slider Dashboard General
 */
.is_admin {
	.canvases_navigate .permalink_copy_button button {
		margin-left: 360px;
		margin-top: 12px;
	}
}
.canvases_navigate {
	.canvases_navigate_buttons {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 2;
		button {
			margin: 15px 0;
		}
		button:first-child {
			margin-left: 24px;
		}
	}
	.permalink_copy_button {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		text-align: left;
		button {
			margin: 25px;
			background: transparent;
			border: none;
			opacity: 0.34;
			font-size: 2.4rem;
			&.copied-toggle {
				background: red;
				color: $melon;
				font-size: 2.66rem;
				-webkit-box-shadow: 0px 0px 58px 5px rgba(253,125,117,0.3);
				-moz-box-shadow: 0px 0px 58px 5px rgba(253,125,117,0.3);
				box-shadow: 0px 0px 58px 5px rgba(253,125,117,0.3);
			}
		}
	}
	.navigate_fab_buttons {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 2;
		text-align: right;
		opacity: 0.8;
		md-chip {
			margin: 10px 6px;
			font-size: 1.3rem;
			line-height: 1.6rem;
			padding: 0.8rem 1.2rem;
			border-radius: 2.4rem;
			opacity: 0.8;
		}
		md-chip:nth-child(2) {	
			margin-right: 10px;
		}
	}
}
.canvases_navigate_on_title {
	position: absolute;
	float: right;
	width: 100%;
	z-index: 2;
	button {
		margin: 20px;
		float: right;
	}
}
.fp-slides {
	.slide:nth-child(1) {
		font-weight: bold;
		font-size: 3rem;
		h3 {
			background: pink;
			margin: 2.56em 0;
			font-family: Spoqa Han Sans Regular;
			font-weight: 300;
			padding-left: 1.2rem;
			-webkit-box-shadow: 0px 0px 43px 5px rgba(173,135,142,0.2);
			-moz-box-shadow: 0px 0px 43px 5px rgba(173,135,142,0.2);
			box-shadow: 0px 0px 43px 5px rgba(173,135,142,0.2);
		}
		.fp-tableCell {
			padding: 0 0 0 3.5rem;
			font-family: SouvenirStd-Bold, Spoqa Han Sans Thin;
			h2 {
				font-family: SouvenirStd-Bold, Spoqa Han Sans Thin;
				letter-spacing: 0;
			}
		}
		.post-title {
			background: #FD7D75;
			padding: 1.5rem 0 0.5rem 3rem;
			color: rgba(250, 250, 250, 0.5);
			margin-right: -100px;
			border-radius: 0 5rem 5rem 0;
			letter-spacing: 0.1rem;
			font-family: SouvenirStd-Bold;
			-webkit-box-shadow: 0px 0px 58px 5px rgba(253,125,117,0.3);
			-moz-box-shadow: 0px 0px 58px 5px rgba(253,125,117,0.3);
			box-shadow: 0px 0px 58px 5px rgba(253,125,117,0.3);
		}
	}
}
my-slider-dashboard .mat-button {
	font-size: 1.86rem;
	line-height: 3.6rem;
}
h3.component_intro {
	font-size: 4.66rem;
}
h2.component_intro {
	font-size: 6rem;
}

/**
 *	Canvases
 */
my-canvases .fp-slides {
	iframe {
		position: absolute;
		top: 18%;
		z-index: -1;
	}
	.slide:nth-child(2) {
		iframe {
			left: -20%;
		}
	}
	.slide:nth-child(3) {
		iframe {
			left: 0%;
		}
	}
	.slide:nth-child(4) {
		iframe {
			left: 20%;
		}
	}
	.slide:nth-child(5) {
		iframe {
			left: 40%;
		}
	}
}
.fp-tableCell {
	.slide {
		font-weight: bold;
		padding: 0 35px;
		font-size: 30px;
		h3 {
			background: pink;
		}
	}
}
body #fp-nav ul li .fp-tooltip {
	color: #07019A;
}
.fp-scrollable {
	// padding: 0 35px;
}
body #fp-nav ul li .fp-tooltip {
	font-family: Spoqa Han Sans Regular;
	color: $charcoal;
	font-size: 1.4rem;
	top: -0.7rem;
	&.right {
		right: 2rem;
	}
}

/* Content List (Dialog) */
.mat-dialog-actions {
	ul {
		padding: 0;
		.md-chip-list-wrapper {
			margin: 1rem 0;
		}
	}
	.mat-chip:not(.mat-basic-chip) {
		color: $charcoal;
		font-size: 1.3rem;
		padding: 0.8rem 1.2rem;
		border-radius: 2.4rem;
		line-height: 1.6rem;
	}
}
.mat-dialog-title {
	font-family: SouvenirStd-Bold, Spoqa Han Sans Thin;
	font-size: 2rem;
}

/**
 *	Projects
 */
.myprojects {
	width: calc(90% - 30px);
	background: #F9ACB3;
	padding: 6px;
	border-radius: 60px;
	height: 100px;
	-webkit-box-shadow: 0px 0px 58px 5px rgba(186, 105, 113, 0.1);
	-moz-box-shadow: 0px 0px 58px 5px rgba(186, 105, 113, 0.1);
	box-shadow: 0px 0px 58px 5px rgba(186, 105, 113, 0.1);
	&.loading_inner_data_end {
		width: 100%;
		margin: 30px;
	}
}

/**
 *	Words
 */
my-words {
	.fp-slide:not(:first-child) {
		.fp-tableCell {
			display: inline-block;
			position: relative;
			box-sizing: content-box !important
			&:before {
				content: '';
				display: block;
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				position: absolute;
				top: 2px;
				left: 2px;
				-webkit-border-radius: 32px;
				border-radius: 32px
			}
			>.fp-scrollable {
				padding: 0 8.5rem 0rem 8.5rem;
				h1, h2, h3, h4, p, pre, .fp-scrollable {
					&:first-child {
						margin-top: 8rem;
					}
					&:last-child {
						margin-bottom: 8rem;
					}
				}
			}
			> h1, > h2, > h3, > h4, > p, > pre {
				padding: 0 8.5rem 0rem 8.5rem;
				&:first-child {
					margin-top: 8rem;
				}
				&:last-child {
					margin-bottom: 8rem;
				}
			}
		}
	}
	code {
		text-align: initial;
	}
}
/* Blog Default Syntax */
body {
	my-admin, my-words {
		h1 {
			font-size: 5rem;
			font-weight: bold;
		}
		h2 {
			font-size: 3.5rem;
			font-weight: bold;
		}
		h3 {
			font-size: 2.5rem;
			font-weight: bold;
		}
		h4 {
			font-size: 1.5rem;
			font-weight: bold;
		}
		p {
			font-size: 1rem;
		}
	}
}
