<div class="myhome content">
	<div class="myhome-contents" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign.xs="center start">
		<div class="hello" fxLayout="row" fxLayoutAlign="space-around start" fxLayout.xs="column" fxLayoutAlign.xs="center start">
			<span [innerHTML]="'HOME.TITLE' | translate"></span>
			<span [innerHTML]="'HOME.TITLE02' | translate"></span>
			<span [innerHTML]="'HOME.TITLE03' | translate"></span>
		</div>
		<div *ngIf="this._service.hideToPublic()" class="user">
			<span>Hello Ruucm</span>
			<a routerLink="/admin">go to admin</a>
			<button (click)="logout()">Click Here to logout</button>
		</div>
	</div>
	<div class="home_buttons">
		<div class="enter_button">
			<button on-mouseover='over()' on-mouseleave='leave()' md-button routerLink="/slider-dashboard">{{ 'HOME.GO' | translate }}</button>
		</div>
		<div class="select_lang">
			<md-select placeholder="language" [(ngModel)]="selectedStatus" (change)="translate.use(selectedStatus)">
				<md-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</md-option>
			</md-select>
		</div>
	</div>
</div>
<div class="spacer"></div>
