<div class="myhome">
	<div class="myhome-contents" fxLayout="column" fxLayoutAlign="space-around center" >
    <div class="myhome-descriptions" fxFlex fxLayoutAlign="space-around center">
			<h3>You can use Right, Left, Up, Down key to Navigate 😀</h3>
		</div>
		<div class="title" fxFlex fxFlex.xs="50%" fxLayoutAlign="space-around center">
			<h2>Hello!
			<a routerLink="/slider-dashboard"><button md-button>go!</button></a>
			</h2>
		</div>
<!-- 		<div class="user" fxFlex fxLayout="column">
			<h1>Hi {{currentUser.firstName}}</h1>
			<p>You're logged in with Angular 2!!</p>
			<h3>All registered users:</h3>
			<ul>
				<li *ngFor="let user of users">
					{{user.username}} {{user.firstName}} {{user.lastName}} - <a (click)="deleteUser(user.id)">Delete</a>
				</li>
			</ul>
			<p class="logout-button"><a md-button [routerLink]="['/login']">Logout</a></p>
		</div> -->
	</div>
</div>
