<div class="admin-bar" *ngIf="this._service.hideToPublic()">
	<a routerLink="/home">go back to home</a>
	<a routerLink="/admin">admin</a>
	<button (click)="logout()">Click Here to logout</button>
</div>
<div id="fullpage">
	<div class="section">
		<my-canvases></my-canvases>
	</div>
	<div class="section">
		<my-projects></my-projects>
	</div>
	<div class="section">
		<my-words [master]="master" [current_word]="current_word" [current_word_length]="current_word_length" [word_list]="word_list" [current_word_id]="current_word_id" [word_list_length]="word_list_length" [current_word_url]="current_word_url"></my-words>
	</div>
</div>
