/**
 *	General
 */
.canvas_title {
	text-align: center;
}

/**
 *	Scene 01
 */
.gem__body-base {
	position: absolute;
	width: 237.7px;
	height: 185.8px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="237.7px" height="185.8px" viewBox="0 0 237.7 185.8" enable-background="new 0 0 237.7 185.8" xml:space="preserve"> <rect id="XMLID_134_" x="-298.2" y="620.2" fill="#F5F4FA" stroke="#231F20" stroke-miterlimit="10" width="789.8" height="568.7"/> <path id="XMLID_19_" fill="#35F0B2" d="M37.9,20.8c31-22.2,86-32.5,124.6-0.7c21.5,17.7,72.5,72.3,69.9,75c0,0,15.2,26.7-5.8,29.6 c-31.5,4.4-24.7,29.2-49.4,48.5c-6.5,5.1-19.4,8-36.3,8.9c-3.2,0.2-7.1,4.2-16.8,3.7s-12.3-4.1-14.1-4.3c-6.2-0.7-19.5,4.3-37.9,0.5 c-18.3-3.8-23.7-10.2-26.1-10.6C-31.4,160,5.2,44.1,37.9,20.8z"/> </svg>');
}
.gem__eye-left {
	top: 74px;
	left: 42px;
	position: absolute;
	width: 6.1px;
	height: 6.1px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.1px" height="6.1px" viewBox="0 0 6.1 6.1" enable-background="new 0 0 6.1 6.1" xml:space="preserve"> <circle id="XMLID_18_" fill="#162148" cx="3.1" cy="3.1" r="3.1"/> </svg>');
}
.gem__eye-right {
	top: 74px;
	left: 102px;
	position: absolute;
	width: 6.1px;
	height: 6.1px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.1px" height="6.1px" viewBox="0 0 6.1 6.1" enable-background="new 0 0 6.1 6.1" xml:space="preserve"> <circle id="XMLID_18_" fill="#162148" cx="3.1" cy="3.1" r="3.1"/> </svg>');
}
.gem__mouth {
	top: 116px;
	left: 52px;
	position: absolute;
	width: 44.9px;
	height: 18.9px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44.9px" height="18.9px" viewBox="0 0 44.9 18.9" enable-background="new 0 0 44.9 18.9" xml:space="preserve"> <path id="XMLID_20_" fill="#162148" d="M0,0c0,0.3,4.5,6,5.9,8.5s2.7,11.3,15,10.3c12.9-1,23.6-7.2,24-10.4S41.8,0,41.8,0 s-1.4,4.2-12.5,4.2c-8.4,0-16.9-0.4-23.5-2.1C3.6,1.6,1.7,0.9,0,0"/> </svg>');
}
.gem__cup-base {
	top: 93px;
	left: -30px;
	position: absolute;
	width: 62.5px;
	height: 43.5px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62.5px" height="43.5px" viewBox="0 0 62.5 43.5" enable-background="new 0 0 62.5 43.5" xml:space="preserve"> <path id="XMLID_522_" fill="#FFFFFF" d="M49.5,0h-23c-6.7,0-12.3,5.2-12.9,11.7c-0.4,0-0.9-0.1-1.3-0.1C5.5,11.7,0,17.1,0,23.9 s5.5,12.2,12.2,12.2c1.8,0,3.5-0.4,5.1-1.1c1.9,4.9,6.6,8.5,12.2,8.5h17c7.2,0,13-5.9,13-13l3-17.4c0-0.1,0-0.1,0-0.2 C62.4,5.8,56.6,0,49.5,0z M4.7,23.9c0-4.1,3.4-7.5,7.5-7.5c0.6,0,1.3,0.1,1.8,0.2l2.3,13.5c-1.2,0.8-2.6,1.3-4.2,1.3 C8.1,31.4,4.7,28,4.7,23.9z"/> </svg>');
	z-index: 1;
}
.gem__cup-smoke {
	top: 74px;
	left: -11px;
	position: absolute;
	width: 34.6px;
	height: 18.8px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34.6px" height="18.8px" viewBox="0 0 34.6 18.8" enable-background="new 0 0 34.6 18.8" xml:space="preserve"> <path id="XMLID_53_" fill="#3B86F2" d="M31.6,0H11.9c-1.6,0-3,1-3,2.3v2.1V6c0,1.1-1.2,2-2.6,2H3c-1.6,0-3,1-3,2.3v1.1 c0,1.3,1.4,2.3,3,2.3h5.9h0c0.3,0,0.6,0.1,0.9,0.2c1.2,0.6,1.5,2,0.7,3.1l-1.3,1.8H28c1.6,0,3.1-1.1,3.1-2.4v-1.1 c0-1.3-1.4-2.3-3-2.3h-4h0c-1.3,0-2.3-0.8-2.3-1.7V8.9c0-1.2,1.3-2.2,2.9-2.2h6.9c1.7,0,3-1,3-2.3V2.3C34.6,1,33.3,0,31.6,0z"/> </svg>');
}
.gem__leg-left {
	top: 164px;
	left: 51px;
	position: absolute;
	width: 38.1px;
	height: 29.6px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38.1px" height="29.6px" viewBox="0 0 38.1 29.6" enable-background="new 0 0 38.1 29.6" xml:space="preserve"> <path id="XMLID_469_" fill="#35F0B2" d="M38.1,0H0v8.2c0.4,0.1,0.7,0.1,1.1,0.2c2.4,0.4,4.5,5.6,5.1,7.2c0.6,1.6,0.8,5.1,2.3,7.7 c0.5,0.8,1.5,1.8,1.8,2.7c0.2,0.6-1,1.4-0.5,1.8c0.6,0.5,2,1.1,3.6,1.4s7.1,0.9,9.8-1.1c1.6-1.1,3.2-4.4,4.8-7.3 c0.9-1.6,6.9-5.2,8.5-5.7c0.3-0.1,0.9-0.1,1.7-0.1V0z"/> </svg>');
}
.gem__leg-right {
	top: 163px;
	left: 109px;
	position: absolute;
	width: 32.2px;
	height: 30.4px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.2px" height="30.4px" viewBox="0 0 32.2 30.4" enable-background="new 0 0 32.2 30.4" xml:space="preserve"> <path id="XMLID_468_" fill="#35F0B2" d="M32.2,0H0v18.4c0.3,0,0.6,0.1,0.9,0.1c1.8,0.2,3.5,0.3,4.5,1.8c0.9,1.5,1.2,2.9,1.8,3.7 c0.8,1.3,2.1,2,2.7,3.3c0.1,0.3-1.2,1-1,1.2c2.7,3.5,9.6,1.3,13.9,0.2c1-0.3,2.1-0.6,2.7-1.5c0.5-0.8,0.5-0.7,0.5-1.7l0-1.4 c0-3.2,2.5-4.9,5.8-5.1c0.1,0,0.3,0,0.4,0V0z"/> </svg>');
}
.bottom__chair {
	top: 173px;
	left: 29px;
	z-index: -1;
	position: absolute;
	width: 163.6px;
	height: 163.8px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="163.6px" height="163.8px" viewBox="0 0 163.6 163.8" enable-background="new 0 0 163.6 163.8" xml:space="preserve"> <rect id="XMLID_134_" x="-322" y="448.3" fill="#F5F4FA" stroke="#231F20" stroke-miterlimit="10" width="789.8" height="568.7"/> <path id="XMLID_13_" fill="#007E96" d="M39,10.2L39,10.2c0-5.5,4.5-10,10-10L146,0c5.5,0,10,4.5,10,10v0c0,5.5-4.5,10-10,10l-97,0.1 C43.5,20.1,39,15.7,39,10.2z"/> <path id="XMLID_11_" fill="#024D5D" d="M163.5,153.8L146.9,27.2c-0.6-4.5-4.4-7.9-8.9-7.9h-25.5h-30H57c-4.5,0-8.3,3.4-8.9,7.9 L31.5,153.8c-0.6,5,3,9.5,8,10l0,0c4.8,0.5,9.2-3,9.8-7.8L63.9,47.6c0.6-4.5,4.4-7.8,8.9-7.8h9.7h30h9.7c4.5,0,8.3,3.4,8.9,7.8 L145.7,156c0.6,4.8,4.9,8.3,9.8,7.8l0,0C160.5,163.3,164.1,158.8,163.5,153.8z"/> <path id="XMLID_32_" fill="#009BBB" d="M7.6,10.2L7.6,10.2c0-5.5,4.5-10,10-10l97-0.1c5.5,0,10,4.5,10,10v0c0,5.5-4.5,10-10,10 l-97,0.1C12.1,20.1,7.6,15.7,7.6,10.2z"/> <path id="XMLID_37_" fill="#01687A" d="M132.1,153.8L115.5,27.2c-0.6-4.5-4.4-7.9-8.9-7.9H81.1h-30H25.6c-4.5,0-8.3,3.4-8.9,7.9 L0.1,153.8c-0.6,5,3,9.5,8,10l0,0c4.8,0.5,9.2-3,9.8-7.8L32.5,47.6c0.6-4.5,4.4-7.8,8.9-7.8h9.7h30h9.7c4.5,0,8.3,3.4,8.9,7.8 L114.3,156c0.6,4.8,4.9,8.3,9.8,7.8l0,0C129.1,163.3,132.7,158.8,132.1,153.8z"/> </svg>');
}
.bottom__text {
	color: #4089EF;
	margin-top: 230px;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
	font-size: 26px;
	font-weight: bold;
	width: 230px;
	top: 163px;
	left: 109px;
	position: absolute;
}

/**
 *	Scene 02
 */
.notebook__monitor {
	top: 100px;
	z-index: -1;
	position: absolute;
	width: 221.2px;
	height: 131.7px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="221.2px" height="131.7px" viewBox="0 0 221.2 131.7" enable-background="new 0 0 221.2 131.7" xml:space="preserve"> <path id="XMLID_152_" fill="#FFFFFF" d="M221.2,131.7H0V11C0,4.9,4.9,0,11,0h199.2c6.1,0,11,4.9,11,11V131.7z"/> </svg>');
}
.monitor__part-01 {
	left: 15.58px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 38px;
	height: 105px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="105px" viewBox="0 0 38 105" enable-background="new 0 0 38 105" xml:space="preserve"> <rect id="XMLID_194_" fill="#FF0000" width="38" height="105"/> </svg>');
}
.monitor__part-02 {
	left: 53.58px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 38px;
	height: 105px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="105px" viewBox="0 0 38 105" enable-background="new 0 0 38 105" xml:space="preserve"> <rect id="XMLID_194_" fill="#FF9900" width="38" height="105"/> </svg>');
}
.monitor__part-03 {
	left: 91.58px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 38px;
	height: 105px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="105px" viewBox="0 0 38 105" enable-background="new 0 0 38 105" xml:space="preserve"> <rect id="XMLID_194_" fill="#FFFF00" width="38" height="105"/> </svg>');
}
.monitor__part-04 {
	left: 129.58px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 38px;
	height: 105px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="105px" viewBox="0 0 38 105" enable-background="new 0 0 38 105" xml:space="preserve"> <rect id="XMLID_194_" fill="#33FF00" width="38" height="105"/> </svg>');
}
.monitor__part-05 {
	left: 167.58px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 38px;
	height: 105px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="105px" viewBox="0 0 38 105" enable-background="new 0 0 38 105" xml:space="preserve"> <rect id="XMLID_194_" fill="#593FFF" width="38" height="105"/> </svg>');
}
.bottom__part-01 {
	top: 231px;
	right: -247px;
	z-index: -1;
	position: absolute;
	width: 279.3px;
	height: 13.7px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="279.3px" height="13.7px" viewBox="0 0 279.3 13.7" enable-background="new 0 0 279.3 13.7" xml:space="preserve"> <path id="XMLID_153_" fill="#FFFFFF" d="M270.3,13.7H9c-5,0-9-4-9-9V0h279.3v4.7C279.3,9.7,275.3,13.7,270.3,13.7z"/> </svg>');
}
.bottom__part-02 {
	top: 230px;
	right: -129px;
	z-index: -1;
	position: absolute;
	width: 36.6px;
	height: 6.4px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36.6px" height="6.4px" viewBox="0 0 36.6 6.4" enable-background="new 0 0 36.6 6.4" xml:space="preserve"> <path id="XMLID_155_" fill="#593FFF" d="M36.6,0H0v0c0,3.5,2.9,6.4,6.4,6.4h23.9C33.8,6.4,36.6,3.5,36.6,0L36.6,0z"/> </svg>');
}
.table__part-top {
	top: 240px;
	right: -410px;
	z-index: -1;
	position: absolute;
	width: 602.9px;
	height: 27.3;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="602.9px" height="27.3px" viewBox="0 0 602.9 27.3" enable-background="new 0 0 602.9 27.3" xml:space="preserve"> <rect id="XMLID_148_" fill="#FFFFFF" width="602.9" height="27.3"/> </svg>');
}
.table__part-leg-01 {
	top: 240px;
	left: -190px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 40.7px;
	height: 129px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.7px" height="129px" viewBox="0 0 40.7 129" enable-background="new 0 0 40.7 129" xml:space="preserve"> <polygon id="XMLID_151_" fill="#FFFFFF" points="38.7,129 2,129 0,0 40.7,0 "/> </svg>');
}
.table__part-leg-02 {
	top: 240px;
	right: -410px;
	bottom: 12px;
	z-index: -1;
	position: absolute;
	width: 40.7px;
	height: 129px;
	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.7px" height="129px" viewBox="0 0 40.7 129" enable-background="new 0 0 40.7 129" xml:space="preserve"> <polygon id="XMLID_151_" fill="#FFFFFF" points="38.7,129 2,129 0,0 40.7,0 "/> </svg>');
}

/**
 *	Scene 03
 */
.gem_scene_03_whole {
	top: 160px;
	left: 100px;
	z-index: 1;
	position: absolute;
	width: 121.8px;
	height: 99.4px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="121.8px" height="99.4px" viewBox="0 0 121.8 99.4" enable-background="new 0 0 121.8 99.4" xml:space="preserve"> <path id="XMLID_357_" fill="#35F0B2" d="M19.1,10.7C35-0.7,63.3-6,83.1,10.3c11.1,9.1,37.3,37.2,35.9,38.5c0,0,7.8,13.7-3,15.2 c-16.2,2.2-12.7,15-25.4,24.9c-3.3,2.6-10,4.1-18.6,4.6c-1.7,0.1-3,0.9-3,2.6l0,0.7c0,0.5,0,0.5-0.3,0.9c-0.3,0.4-0.9,0.6-1.4,0.7 c-2.2,0.6-5.8,1.7-7.2-0.1c-0.1-0.1,0.6-0.5,0.5-0.6c-0.3-0.7-1-1-1.4-1.7c-0.3-0.4-0.4-1.1-0.9-1.9c-0.5-0.8-1.3-0.8-2.3-0.9 c-3.8-0.4-13.8-1.6-16.8-2c-0.9-0.1-1.8,0.3-2.3,1.2c-0.8,1.5-1.6,3.2-2.5,3.7c-1.4,1-4.3,0.7-5.1,0.5c-0.8-0.1-1.5-0.5-1.8-0.7 c-0.3-0.2,0.4-0.6,0.3-0.9c-0.1-0.5-0.7-1-0.9-1.4c-0.8-1.4-1-1.8-1.2-4c-0.1-0.6-0.5-1.1-1.1-1.3l0,0C-16,78.8,2.1,22.8,19.1,10.7z "/> <circle id="XMLID_351_" fill="#162148" cx="20.2" cy="43.4" r="1.6"/> <circle id="XMLID_350_" fill="#162148" cx="53.3" cy="43.4" r="1.6"/> <path id="XMLID_349_" fill="#162148" d="M23.8,63.8c0,0.1,2.3,3.1,3.1,4.4c0.7,1.3,1.4,5.8,7.7,5.3c6.6-0.5,12.2-3.7,12.3-5.4 s-1.6-4.3-1.6-4.3s-0.7,2.1-6.4,2.1c-4.3,0-8.7-0.2-12.1-1.1C25.6,64.6,24.6,64.2,23.8,63.8"/> </svg>');
}
.gem_scene_03_coffee {
	left: 77px;
	top: 190px;
	z-index: 2;
	position: absolute;
	width: 37.4px;
	height: 43.3px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="37.4px" height="43.3px" viewBox="0 0 37.4 43.3" enable-background="new 0 0 37.4 43.3" xml:space="preserve"> <path id="XMLID_345_" fill="#FFFFFF" d="M11.6,27c-3.5,0-6.3,2.8-6.3,6.3s2.8,6.3,6.3,6.3s6.3-2.8,6.3-6.3S15.1,27,11.6,27z M11.6,37.1c-2.1,0-3.9-1.7-3.9-3.9c0-2.1,1.7-3.9,3.9-3.9s3.9,1.7,3.9,3.9C15.4,35.4,13.7,37.1,11.6,37.1z"/> <path id="XMLID_344_" fill="#FFFFFF" d="M29.2,43.3h-8.7c-3.7,0-6.7-3-6.7-6.7l-1.5-8.9c0,0,0-0.1,0-0.1c0-3.7,3-6.6,6.7-6.6h11.8 c3.7,0,6.7,3,6.7,6.6c0,0,0,0.1,0,0.1l-1.5,8.9C35.9,40.3,32.9,43.3,29.2,43.3z"/> <path id="XMLID_343_" fill="#3B86F2" d="M30.7,11.4H20.6c-0.8,0-1.5,0.5-1.5,1.2v1.1v0.8c0,0.6-0.6,1-1.3,1H16 c-0.8,0-1.5,0.5-1.5,1.2v0.6c0,0.6,0.7,1.2,1.5,1.2h3l0,0c0.2,0,0.3,0,0.4,0.1c0.6,0.3,0.7,1,0.4,1.6L19.2,21h9.6 c0.8,0,1.6-0.6,1.6-1.2v-0.6c0-0.6-0.7-1.2-1.5-1.2h-2.1l0,0c-0.6,0-1.2-0.4-1.2-0.9v-1.2c0-0.6,0.7-1.2,1.5-1.2h3.6 c0.8,0,1.5-0.5,1.5-1.2v-1.1C32.2,11.9,31.5,11.4,30.7,11.4z"/> <path id="XMLID_342_" fill="#FC5957" d="M13.6,10.3L13.6,10.3c-0.4,0-0.8-0.3-0.8-0.8V0.8c0-0.4,0.3-0.8,0.8-0.8h0 c0.4,0,0.8,0.3,0.8,0.8v8.7C14.4,9.9,14,10.3,13.6,10.3z"/> <path id="XMLID_341_" fill="#FC5957" d="M10.9,11.2L10.9,11.2c-0.3,0.3-0.8,0.4-1.1,0.1L3.1,5.8C2.7,5.5,2.7,5,3,4.7l0,0 C3.2,4.4,3.7,4.3,4,4.6l6.8,5.5C11.1,10.4,11.2,10.9,10.9,11.2z"/> <path id="XMLID_340_" fill="#FC5957" d="M10.3,14.6L10.3,14.6c0,0.4-0.3,0.8-0.8,0.8H0.8C0.3,15.3,0,15,0,14.6v0 c0-0.4,0.3-0.8,0.8-0.8h8.7C9.9,13.8,10.3,14.2,10.3,14.6z"/> </svg> ');
}
.cloud_from_dash01 {
	left: 250px;
	top: 150px;
	position: absolute;
	width: 55.4px;
	height: 27.8px;
	z-index: 0;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.4px" height="27.8px" viewBox="0 0 55.4 27.8" enable-background="new 0 0 55.4 27.8" xml:space="preserve"> <path id="XMLID_142_" fill="#D8D8D8" d="M12.2,18.2c-0.6-1.5-0.9-3.2-0.9-4.9C11.2,6,16.9,0,23.9,0c7,0,12.7,6,12.7,13.3 c0,3.8-1.5,7.2-3.9,9.6c1.8-0.3,3.6-0.5,5.5-0.5c6.9,0,13,2.1,17.1,5.4H32.1h-11H0C2.6,23,7,19.5,12.2,18.2z"/> </svg> ');
}
.cloud_from_dash02 {
	left: 220px;
	top: 230px;
	position: absolute;
	width: 55.4px;
	height: 27.8px;
	z-index: 0;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.4px" height="27.8px" viewBox="0 0 55.4 27.8" enable-background="new 0 0 55.4 27.8" xml:space="preserve"> <path id="XMLID_142_" fill="#D8D8D8" d="M12.2,18.2c-0.6-1.5-0.9-3.2-0.9-4.9C11.2,6,16.9,0,23.9,0c7,0,12.7,6,12.7,13.3 c0,3.8-1.5,7.2-3.9,9.6c1.8-0.3,3.6-0.5,5.5-0.5c6.9,0,13,2.1,17.1,5.4H32.1h-11H0C2.6,23,7,19.5,12.2,18.2z"/> </svg> ');
}
.cloud_from_dash03 {
	left: 250px;
	top: 180px;
	position: absolute;
	width: 55.4px;
	height: 27.8px;
	z-index: 0;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.4px" height="27.8px" viewBox="0 0 55.4 27.8" enable-background="new 0 0 55.4 27.8" xml:space="preserve"> <path id="XMLID_142_" fill="#D8D8D8" d="M12.2,18.2c-0.6-1.5-0.9-3.2-0.9-4.9C11.2,6,16.9,0,23.9,0c7,0,12.7,6,12.7,13.3 c0,3.8-1.5,7.2-3.9,9.6c1.8-0.3,3.6-0.5,5.5-0.5c6.9,0,13,2.1,17.1,5.4H32.1h-11H0C2.6,23,7,19.5,12.2,18.2z"/> </svg> ');
}
.pokestop01 {
	left: 137px;
	top: -90px;
	position: absolute;
	width: 213.7px;
	height: 302.1px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="213.7px" height="302.1px" viewBox="0 0 213.7 302.1" enable-background="new 0 0 213.7 302.1" xml:space="preserve"> <path id="XMLID_317_" fill="#47ADDF" d="M106.9,0C57.3,0,17.1,40.2,17.1,89.8s40.2,89.8,89.8,89.8s89.8-40.2,89.8-89.8 S156.4,0,106.9,0z M106.9,170.6c-44.6,0-80.8-36.2-80.8-80.8C26.1,45.1,62.2,9,106.9,9s80.8,36.2,80.8,80.8 C187.7,134.4,151.5,170.6,106.9,170.6z"/> <circle id="XMLID_313_" fill="#47ADDF" cx="106.9" cy="89.8" r="23.6"/> <path id="XMLID_322_" fill="#47ADDF" d="M81,87.3c1.3-13.2,12.4-23.5,25.9-23.5s24.6,10.3,25.9,23.5h26.6c-1.3-27.8-24.3-50-52.4-50 c-28.2,0-51.1,22.2-52.4,50H81z"/> <path id="XMLID_323_" fill="#47ADDF" d="M132.7,92.3c-1.3,13.2-12.4,23.5-25.9,23.5S82.2,105.4,81,92.3H54.4 c1.3,27.8,24.3,50,52.4,50s51.1-22.2,52.4-50H132.7z"/> <path id="XMLID_312_" fill="#47ADDF" d="M161.7,137.4l-2.8-2.3c-8.2,9.4-18.9,16.6-31.1,20.4l1.1,3.5 C141.8,154.9,153.1,147.4,161.7,137.4z"/> <path id="XMLID_328_" fill="#47ADDF" d="M37.8,89.8c0-38.1,30.9-69.1,69.1-69.1v-3.6c-40.2,0-72.7,32.6-72.7,72.7H37.8z"/> <path id="XMLID_54_" fill="#47ADDF" d="M5.4,110.7l-5.4,1c6,29.6,24.1,54.9,48.8,70.4l2.8-4.7C28.2,162.7,11.1,138.7,5.4,110.7z"/> <path id="XMLID_60_" fill="#47ADDF" d="M181.2,10l-3.7,4c15.4,14.3,26.4,33.3,30.8,54.7l5.3-1.1C209,45.1,197.4,25.1,181.2,10z"/> <path id="XMLID_52_" fill="#47ADDF" d="M126.7,204.3H86.9v-2.9c0-2.2,1.8-4,4-4h31.8c2.2,0,4,1.8,4,4V204.3z"/> <rect id="XMLID_57_" x="104.1" y="204.3" fill="#47ADDF" width="5.4" height="92.5"/> <path id="XMLID_58_" fill="#47ADDF" d="M113.6,302.1h-13.5c-1.5,0-2.6-1.2-2.6-2.6l0,0c0-1.5,1.2-2.6,2.6-2.6h13.5 c1.5,0,2.6,1.2,2.6,2.6l0,0C116.2,300.9,115,302.1,113.6,302.1z"/> </svg> ');
}
.pokestop02 {
	right: -43px;
	top: 220px;
	z-index: 2;
	position: absolute;
	width: 213.7px;
	height: 302.1px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="213.7px" height="302.1px" viewBox="0 0 213.7 302.1" enable-background="new 0 0 213.7 302.1" xml:space="preserve"> <path id="XMLID_317_" fill="#47ADDF" d="M106.9,0C57.3,0,17.1,40.2,17.1,89.8s40.2,89.8,89.8,89.8s89.8-40.2,89.8-89.8 S156.4,0,106.9,0z M106.9,170.6c-44.6,0-80.8-36.2-80.8-80.8C26.1,45.1,62.2,9,106.9,9s80.8,36.2,80.8,80.8 C187.7,134.4,151.5,170.6,106.9,170.6z"/> <circle id="XMLID_313_" fill="#47ADDF" cx="106.9" cy="89.8" r="23.6"/> <path id="XMLID_322_" fill="#47ADDF" d="M81,87.3c1.3-13.2,12.4-23.5,25.9-23.5s24.6,10.3,25.9,23.5h26.6c-1.3-27.8-24.3-50-52.4-50 c-28.2,0-51.1,22.2-52.4,50H81z"/> <path id="XMLID_323_" fill="#47ADDF" d="M132.7,92.3c-1.3,13.2-12.4,23.5-25.9,23.5S82.2,105.4,81,92.3H54.4 c1.3,27.8,24.3,50,52.4,50s51.1-22.2,52.4-50H132.7z"/> <path id="XMLID_312_" fill="#47ADDF" d="M161.7,137.4l-2.8-2.3c-8.2,9.4-18.9,16.6-31.1,20.4l1.1,3.5 C141.8,154.9,153.1,147.4,161.7,137.4z"/> <path id="XMLID_328_" fill="#47ADDF" d="M37.8,89.8c0-38.1,30.9-69.1,69.1-69.1v-3.6c-40.2,0-72.7,32.6-72.7,72.7H37.8z"/> <path id="XMLID_54_" fill="#47ADDF" d="M5.4,110.7l-5.4,1c6,29.6,24.1,54.9,48.8,70.4l2.8-4.7C28.2,162.7,11.1,138.7,5.4,110.7z"/> <path id="XMLID_60_" fill="#47ADDF" d="M181.2,10l-3.7,4c15.4,14.3,26.4,33.3,30.8,54.7l5.3-1.1C209,45.1,197.4,25.1,181.2,10z"/> <path id="XMLID_52_" fill="#47ADDF" d="M126.7,204.3H86.9v-2.9c0-2.2,1.8-4,4-4h31.8c2.2,0,4,1.8,4,4V204.3z"/> <rect id="XMLID_57_" x="104.1" y="204.3" fill="#47ADDF" width="5.4" height="92.5"/> <path id="XMLID_58_" fill="#47ADDF" d="M113.6,302.1h-13.5c-1.5,0-2.6-1.2-2.6-2.6l0,0c0-1.5,1.2-2.6,2.6-2.6h13.5 c1.5,0,2.6,1.2,2.6,2.6l0,0C116.2,300.9,115,302.1,113.6,302.1z"/> </svg> ');
}

/**
 *	Scene 03
 */
.gem_scene_04_whole {
	right: -43px;
	top: 220px;
	z-index: 2;
	position: absolute;
	width: 266.1px;
	height: 193.4px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="266.1px" height="193.4px" viewBox="0 0 266.1 193.4" enable-background="new 0 0 266.1 193.4" xml:space="preserve"> <path id="XMLID_379_" fill="#FFFFFF" d="M241.7,125.3c0,6.7,5.5,12.2,12.2,12.2s12.2-5.5,12.2-12.2s-5.5-12.2-12.2-12.2 S241.7,118.6,241.7,125.3z M246.4,125.3c0-4.1,3.4-7.5,7.5-7.5s7.5,3.4,7.5,7.5s-3.4,7.5-7.5,7.5S246.4,129.5,246.4,125.3z"/> <path id="XMLID_378_" fill="#FFFFFF" d="M219.7,144.9h17c7.1,0,13-5.9,13-13l3-17.4c0-0.1,0-0.1,0-0.2c-0.1-7.1-5.9-12.9-13-12.9 h-23c-7.1,0-12.9,5.8-13,12.9c0,0.1,0,0.1,0,0.2l3,17.4C206.7,139.1,212.5,144.9,219.7,144.9z"/> <path id="XMLID_377_" fill="#3B86F2" d="M216.8,82.7h19.7c1.6,0,3,1,3,2.3V87v1.6c0,1.1,1.2,2,2.6,2h3.3c1.6,0,3,1,3,2.3v1.1 c0,1.3-1.4,2.3-3,2.3h-5.9l0,0c-0.3,0-0.6,0.1-0.9,0.2c-1.2,0.6-1.5,2-0.7,3.1l1.3,1.8h-18.8c-1.6,0-3.1-1.1-3.1-2.4V98 c0-1.3,1.3-2.3,3-2.3h4l0,0c1.3,0,2.3-0.8,2.3-1.7v-2.4c0-1.2-1.3-2.2-2.9-2.2h-6.9c-1.7,0-3-1-3-2.3V85 C213.8,83.7,215.1,82.7,216.8,82.7z"/> <path id="XMLID_386_" fill="#35F0B2" d="M199.8,20.8c-31-22.2-86-32.5-124.6-0.7C53.7,37.8,2.6,92.4,5.3,95.1 c0,0-15.2,26.7,5.8,29.6c31.5,4.4,24.7,29.2,49.4,48.5c6.5,5.1,19.4,8,36.3,8.9c3.2,0.2,5.8,1.8,5.8,5.1l0,1.4c0,0.9,0,0.9,0.5,1.7 c0.6,0.9,1.7,1.2,2.7,1.5c4.3,1.1,11.2,3.4,13.9-0.2c0.2-0.2-1.1-0.9-1-1.2c0.6-1.3,1.9-2,2.7-3.3c0.6-0.8,0.8-2.2,1.8-3.7 c1-1.6,2.6-1.6,4.5-1.8c7.4-0.8,26.9-3.1,32.6-3.8c1.8-0.2,3.6,0.6,4.5,2.2c1.6,2.9,3.2,6.1,4.8,7.3c2.8,2,8.3,1.3,9.8,1.1 c1.5-0.3,3-0.9,3.6-1.4c0.5-0.4-0.7-1.2-0.5-1.8c0.3-0.9,1.3-1.9,1.8-2.7c1.5-2.6,1.9-3.4,2.3-7.7c0.1-1.2,1-2.2,2.2-2.5l0,0 C268.1,153.3,232.9,44.4,199.8,20.8z"/> </svg> ');
}
.gem_scene_04_expression {
	right: -43px;
	top: 220px;
	position: absolute;
	width: 28px;
	height: 29.9px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="29.9px" viewBox="0 0 28 29.9" enable-background="new 0 0 28 29.9" xml:space="preserve"> <path id="XMLID_376_" fill="#FC5957" d="M1.5,20L1.5,20C2.3,20,3,19.3,3,18.5v-17C3,0.7,2.3,0,1.5,0h0C0.7,0,0,0.7,0,1.5l0,17 C0,19.3,0.7,20,1.5,20z"/> <path id="XMLID_375_" fill="#FC5957" d="M6.7,21.8L6.7,21.8c0.5,0.6,1.5,0.7,2.1,0.2L22,11.3c0.6-0.5,0.7-1.5,0.2-2.1l0,0 c-0.5-0.6-1.5-0.7-2.1-0.2L7,19.7C6.3,20.2,6.2,21.2,6.7,21.8z"/> <path id="XMLID_374_" fill="#FC5957" d="M8,28.4L8,28.4c0,0.8,0.7,1.5,1.5,1.5h17c0.8,0,1.5-0.7,1.5-1.5v0c0-0.8-0.7-1.5-1.5-1.5 h-17C8.7,26.9,8,27.5,8,28.4z"/> </svg> ');
}
.general-0218-page-scene_04 .bottom__chair {
	top: 163px;
	left: 219px;
}
.character01_scene_04_whole {
	right: -363px;
	top: 20px;
	z-index: 1;
	position: absolute;
	width: 133.8px;
	height: 160.4px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="133.8px" height="160.4px" viewBox="0 0 133.8 160.4" enable-background="new 0 0 133.8 160.4" xml:space="preserve"> <polygon id="XMLID_135_" fill="#162148" points="63.5,0 0,71.9 133.8,59.8 "/> <path id="XMLID_133_" fill="#162148" d="M50.1,51.2h46c9.4,0,17,7.7,17,17v50.3c0,9.4-7.7,17-17,17h-46c-9.4,0-17-7.7-17-17V68.2 C33.1,58.8,40.8,51.2,50.1,51.2z"/> <circle id="XMLID_171_" fill="#FFFFFF" cx="89.3" cy="83.2" r="7.7"/> <circle id="XMLID_170_" fill="#FFFFFF" cx="64" cy="83.2" r="7.7"/> <path id="XMLID_169_" fill="#020202" d="M92,82.9c0-1.5-1.2-2.8-2.6-3v-1.8c2.6,0,4.8,2.1,4.8,4.8c0,2.6-2.1,4.8-4.8,4.8v-1.8 C90.8,85.7,92,84.5,92,82.9z"/> <path id="XMLID_168_" fill="#020202" d="M66.7,82.9c0-1.5-1.2-2.8-2.6-3v-1.8c2.6,0,4.8,2.1,4.8,4.8c0,2.6-2.1,4.8-4.8,4.8v-1.8 C65.5,85.7,66.7,84.5,66.7,82.9z"/> <path id="XMLID_161_" fill="#162148" d="M56.9,156.2L56.9,156.2c-9.1,0-5.9-2.6-5.9-5.9v-22.5c0-3.2,2.6-5.9,5.9-5.9h0 c3.2,0,5.9,2.6,5.9,5.9v22.5C62.7,153.5,60.1,156.2,56.9,156.2z"/> <path id="XMLID_165_" fill="#162148" d="M85.7,156.2L85.7,156.2c11.7,0,5.9-2.6,5.9-5.9v-22.5c0-3.2-2.6-5.9-5.9-5.9h0 c-3.2,0-5.9,2.6-5.9,5.9v22.5C79.8,153.5,82.5,156.2,85.7,156.2z"/> <path id="XMLID_173_" fill="#162148" d="M71.7,160.4L71.7,160.4c3.2,0,5.9-2.6,5.9-5.9v-26.7c0-3.2-2.6-5.9-5.9-5.9h0 c-3.2,0-5.9,2.6-5.9,5.9v26.7C65.9,157.7,68.5,160.4,71.7,160.4z"/> </svg> ');
}
.character01_scene_04_expression {
	right: -383px;
	top: 70px;
	position: absolute;
	width: 97.4px;
	height: 52.8px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97.4px" height="52.8px" viewBox="0 0 97.4 52.8" enable-background="new 0 0 97.4 52.8" xml:space="preserve"> <path id="XMLID_237_" fill="#3B86F2" d="M88.9,0H33.6c-4.6,0-8.4,2.9-8.4,6.5v5.8v4.6c0,3.1-3.3,5.6-7.4,5.6H8.4 C3.8,22.5,0,25.4,0,29v3.1c0,3.6,3.8,6.5,8.4,6.5h16.7h0c0.8,0,1.7,0.3,2.4,0.6c3.3,1.7,4.1,5.7,2,8.6l-3.6,5h52.8 c4.6,0,8.7-3.1,8.7-6.6v-3.1c0-3.6-3.8-6.5-8.4-6.5H67.7h0c-3.5,0-6.4-2.2-6.4-4.9V25c0-3.5,3.7-6.3,8.2-6.3h19.5 c4.6,0,8.4-2.9,8.4-6.5V6.5C97.4,2.9,93.6,0,88.9,0z"/> </svg> ');
}
.character02_scene_04_whole {
	right: -503px;
	top: 40px;
	z-index: 1;
	position: absolute;
	width: 83.2px;
	height: 218.5px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="83.2px" height="218.5px" viewBox="0 0 83.2 218.5" enable-background="new 0 0 83.2 218.5" xml:space="preserve"> <path id="XMLID_137_" fill="#FEEEC6" d="M46.1,1.2c-2-0.9-4.2-1.3-6.4-1.2C26.8,0.3,9.1,4.9,4,20.7c-5.2,16-1.5,34.3,5.9,46.9 c5.7,9.8,25.2,17.7,25.4,33.9s-7.7,29-9.2,38.1c-1.3,7.8-3.2,26.2,9.5,34.3c11.7,7.5,50.8,2.6,47.3-22.5 c-3.5-25.1-23.6-53.7-26.8-87.7c-1.2-12.9,2.2-30,1.4-40.6C56.9,15,52.4,3.8,46.1,1.2z"/> <circle id="XMLID_136_" fill="#FFFFFF" cx="7.7" cy="34.4" r="7.7"/> <circle id="XMLID_435_" fill="#FFFFFF" cx="33" cy="34.4" r="7.7"/> <path id="XMLID_131_" fill="#020202" d="M5.1,34.2c0-1.5,1.2-2.8,2.6-3v-1.8c-2.6,0-4.8,2.1-4.8,4.8c0,2.6,2.1,4.8,4.8,4.8v-1.8 C6.2,37,5.1,35.7,5.1,34.2z"/> <path id="XMLID_159_" fill="#020202" d="M30.4,34.2c0-1.5,1.2-2.8,2.6-3v-1.8c-2.6,0-4.8,2.1-4.8,4.8c0,2.6,2.1,4.8,4.8,4.8v-1.8 C31.5,37,30.4,35.7,30.4,34.2z"/> <path id="XMLID_122_" fill="#FEEEC6" d="M37.2,160.3c-7.2,0-14.5,10.5-14.1,15.4s7.3,10.5,7,18.9s-7.4,9.6-9.4,12 c-1.4,1.8-2.5,7.2,1.7,9.9s16.2-15.9,16.4-21.9c0.2-5.2-7.2-10.4-4.3-15.9s8.9-8.1,8.9-12.3C43.5,162.2,37.2,160.3,37.2,160.3z"/> <path id="XMLID_162_" fill="#FEEEC6" d="M61.2,162.1c-7.2,0-14.5,10.5-14.1,15.4c0.4,4.8,7.3,10.5,7,18.9s-7.4,9.6-9.4,12 c-1.4,1.8-2.5,7.2,1.7,9.9s16.2-15.9,16.4-21.9c0.2-5.2-7.2-10.4-4.3-15.9s8.9-8.1,8.9-12.3S61.2,162.1,61.2,162.1z"/> </svg> ');
}
.character02_scene_04_expression {
	right: -413px;
	top: 80px;
	position: absolute;
	width: 46.5px;
	height: 25.2px;
	background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46.5px" height="25.2px" viewBox="0 0 46.5 25.2" enable-background="new 0 0 46.5 25.2" xml:space="preserve"> <path id="XMLID_239_" fill="#3B86F2" d="M4,0l26.4,0c2.2,0,4,1.4,4,3.1v2.8v2.2c0,1.5,1.6,2.7,3.5,2.7h4.5c2.2,0,4,1.4,4,3.1v1.5 c0,1.7-1.8,3.1-4,3.1h-8l0,0c-0.4,0-0.8,0.1-1.2,0.3c-1.6,0.8-2,2.7-1,4.1l1.7,2.4H8.9c-2.2,0-4.2-1.5-4.2-3.2v-1.5 c0-1.7,1.8-3.1,4-3.1h5.4h0c1.7,0,3.1-1.1,3.1-2.3v-3.2c0-1.7-1.8-3-3.9-3H4c-2.2,0-4-1.4-4-3.1l0-2.8C0,1.4,1.8,0,4,0z"/> </svg> ');
}
