.myhome {
	border: solid 1px #b6b6b6;
	box-sizing: content-box !important;
	text-align: center;
	background: lightblue;
	height: 100vh;
	div.title {
		max-height: 25% !important;
	}
}
.myhome-contents {
	height: 100vh;
	padding: 0 30px;
}
ul {
	list-style-type: none;
}
