/**
 *	Variables
 */

$base-brown : #977245;
$accent-brown : #53281F;
$light-brown : #D3AF8A;
$base-white : #FBFCFC;
$base-background : #FBF5F4;

/* Bookky Web Concept */
$charcoal: rgba(52, 60, 81, 1);
$melon: rgba(249, 172, 179, 1);
$melon-light: rgba(252, 188, 176, 1);
$silver_pink: rgba(206, 161, 172, 1);
$pastel_pink: rgba(237, 168, 156, 1);
$hot-pink: #FD7D75;

$inline-header-height : 103px;
$fancy-header-height : 424px;
$my-page-header-height : 320px;

$z-index-01 : 1;
$z-index-02 : 2;
$z-index-03 : 3;
