/**
 *	Variables
 */

$base-brown : #977245;
$accent-brown : #53281F;
$light-brown : #D3AF8A;
$base-white : #FBFCFC;
$base-background : #FBF5F4;

$inline-header-height : 103px;
$fancy-header-height : 424px;
$my-page-header-height : 320px;

$z-index-01 : 1;
$z-index-02 : 2;
$z-index-03 : 3;
